.app_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100dvh;
  width: 100dvw;
}

.my_frame{
  height: 100%;
  width: 100%;
}

.my_frame_container{
  height: 100dvh;
  width: 100dvw;
}

.container_style{
  padding: .5rem;
  box-sizing: border-box;
  border: 1px solid #dddddd;
  gap: .5rem;
}

.action_panel{
  width: fit-content;
  border-collapse: collapse;
  display: flex;  
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.dev_list{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal_panel_buttons{
  display: flex;
  justify-content: center;
}

.dev_row{
  display: flex;
  width: 100%; 
  gap: .5rem;
  padding: .5rem;
}

.actions{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.search_container{
  display: flex;
  flex-direction: column;
}

.panel_row{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.model{
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.model_content{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: fit-content;
}

.developer_list{
  display: flex;
  flex-direction: column;
}

.prop_values{
  display: flex;
  flex-direction: column;
}

.form_value{
  display: flex;
  justify-content: space-between;
}

.selected_product_panel{
  display: flex;
  gap: .5rem;
}

.product_table{
  overflow-y: scroll;
  padding: 5px;
  display: flex;
  height: fit-content;
}

.product_table thead th { 
  position: sticky; 
  top: 0; 
} 

table {
  font-size: 12px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

th { 
  background: #ABDD93; 
} 

td, th {
  box-sizing: border-box;
  border: 1px solid #dddddd;
  text-align: center;
  padding: 0.5rem;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


